.products {
  min-height: calc(100vh - var(--header-height));
}

.products-body {
  margin: 5px;
  /* min-height: 100%; */

  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: space-between; */
}