.app-side-bar {
  position: fixed;
  top: var(--header-height);
  left: 0px;
  height: calc(100% - var(--header-height));
  background-color: var(--side-bar-bg-color);
  padding-top: 30px;

  transition: all 0.3s;
}

.side-bar-on {
  width: var(--side-bar-width);
}

.side-bar-off {
  width: 0;
}

.menu-list {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.menu-item {
  color: var(--side-bar-link-txt-color);
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 3px;

  display: flex;
  align-items: center;
}

.menu-item-active {
  background-color: var(--side-bar-link-bg-color);
  border-left: 3px solid var(--side-bar-link-left-color);
  color: #FFF;
}

.menu-item:hover {
  background: var(--side-bar-link-bg-color);
  text-decoration: none;
  color: #FFF;
}