.app-side-bar {
  position: fixed;
  top: var(--header-height);
  left: 0px;
  height: calc(100% - var(--header-height));
  background-color: var(--side-bar-bg-color);
  padding-top: 30px;

  transition: all 0.3s;
}

.side-bar-on {
  width: var(--side-bar-width);
}

.side-bar-off {
  width: 0;
}