.alert-toast {
  position: fixed;
  top: calc(var(--pages-default-margin-top) + 2%);
  right: 3%;
  z-index: 1;
}

.alert-toast .alert-success {
  border-left: 3px solid #155724;
}

.alert-toast .alert-danger {
  border-left: 3px solid #721C24;
}

.alert-toast ul {
  list-style: none;
}

.alert-toast button {
  outline: none;
}